body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: #fafaf7;
}

.my-canvas {
  position: absolute;
  top: 50px;
  left: 50px;
}

.my-canvas {
  box-shadow: 0 0 5px grey;
}
